/* 70px padding is the top navigation bar height */
body
{
    padding-top: 70px;
}



.login_header_box
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}



.tool_icon
{
    height: 20px;
    width: 20px;

    min-height: 10px;
    min-width: 10px;
}
