<div class="container-fluid">
    <h3>Autenticação:</h3>
    <hr/>
    <div data-ng-switch="action">
        <!-- register -->
        <form data-ng-switch-when="register">
            <div>
                <label class="control-label">Chave: </label>
                <input type="text" placeholder="chave" data-ng-model="form.username" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Senha: </label>
                <input type="password" placeholder="senha" data-ng-model="form.password" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">E-mail: </label>
                <input type="email" placeholder="e-mail" data-ng-model="form.email" data-ng-pattern="EMAIL_REGEXP" data-ngRequired="true"/>
            </div>
            <button class="btn btn-primary" data-ng-click="register()">Registrar-se</button>
        </form>
        <!-- edit -->
        <form data-ng-switch-when="edit">
            <div>
                <label class="control-label">Chave: </label>
                <input type="text" placeholder="chave" data-ng-model="form.username" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Senha: </label>
                <input type="password" placeholder="senha" data-ng-model="form.password" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">E-mail: </label>
                <input type="email" placeholder="e-mail" data-ng-model="form.email" data-ng-pattern="EMAIL_REGEXP" data-ngRequired="true"/>
            </div>
            <button class="btn btn-primary" data-ng-click="edit()">Alterar</button>
        </form>
        <!-- login -->
        <form data-ng-switch-when="login">
            <div>
                <label class="control-label">Chave: </label>
                <input type="text" placeholder="chave" data-ng-model="form.username" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Senha: </label>
                <input type="password" placeholder="senha" data-ng-model="form.password" data-ngRequired="true"/>
            </div>
            <button class="btn btn-primary" data-ng-click="login()">Entrar</button>
        </form>
        <!-- logout -->
        <form data-ng-switch-when="logout">
            <div>Obrigado {{ form.username }}, volte sempre ...</div>
        </form>
        <!-- else -->
        <form data-ng-switch-default="">
            Ação inválida: '{{ action }}'.
        </form>
    </div>
</div>