<div class="container-fluid">
    <h3>Carrinho de compras:</h3>
    <hr/>
    <div class="row-fluid">
        <div>
            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Produto</b></td>
                    <td><b>Sistema</b></td>
                    <td><b>Preço</b></td>
                    <td/>
                </tr>

                <!-- empty cart message -->
                <tr data-ng-hide="session.cart.getNumOfProducts() > 0">
                    <td colspan="4">O carrinho é vazío.</td>
                </tr>

                <!-- cart items -->
                <tr data-ng-repeat="product in session.cart.products | orderBy:session.order_prop">
                    <td>{{ product.name }}</td>
                    <td>{{ product.system }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td><a href="" data-ng-click="removeProduct(product.id)" class="glyphicon glyphicon-remove"></a></td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td><b>{{ session.cart.getNumOfProducts() }}</b></td>
                    <td><b>{{ session.cart.getTotalPrice() | currency }}</b></td>
                    <td/>
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div>
            <div class="col-xs-6 push-left">
                <button class="btn btn-block btn-primary" onclick="window.location.href='#/'">
                    <div class="glyphicon glyphicon-chevron-left"></div> Adiciona mais
                </button>
                <button class="btn btn-block btn-danger" data-ng-click="removeAllProducts()" data-ng-disabled="! session.cart.getNumOfProducts() > 0">
                    <div class="glyphicon glyphicon-trash"></div> Limpa o carrinho
                </button>
            </div>
            <div class="col-xs-6 push-right">
                <button class="btn btn-block btn-success" data-ng-click="checkout('PayPal')" data-ng-disabled="! session.cart.getTotalPrice() > 0">
                    <div class="glyphicon glyphicon-ok"></div> Paga com PayPal
                </button>
                <button class="btn btn-block btn-success" data-ng-click="checkout('Google')" data-ng-disabled="! session.cart.getTotalPrice() > 0">
                    <div class="glyphicon glyphicon-ok"></div> Paga com Google
                </button>
            </div>
        </div>
    </div>
</div>