<div class="modal-header">
    <h3>Confirma o pagamento?</h3>
</div>
<div class="modal-body">
    <h4>Carrinho:</h4>
    <h4>Itens: <b>{{ session.cart.getNumOfProducts() }}</b></h4>
    <h4>Valor total <b>{{ session.cart.getTotalPrice() | currency }}</b></h4>
    <h4>Modalidade de pagamento selecionada: <b>{{ session.payment_id }}</b></h4>
    <br/>
    <hr/>
    <b>OBS:</b> Será enviado um email para <b>{{ session.user.email }}</b> com as instruções para baixar os aplicativos em posteriormente.
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{ modalOptions.closeButtonText }}</button>
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{ modalOptions.actionButtonText }}</button>
</div>