<div data-ng-controller="HeaderController">
    <div class="navbar navbar-default navbar-fixed-top" data-role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <div data-ng-show="session.session">
                    <div data-ng-switch="session.session.user.type">
                        <div data-ng-switch-when="STUDENT">
                            <ul class="nav navbar-nav navbar-left">
                                <li data-ng-class="{ active: isActive('/laboratory/list') }"><a href="#laboratory/list">Laboratórios</a></li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="TECHNICIAN">
                            <ul class="nav navbar-nav navbar-left">
                                <li data-ng-class="{ active: isActive('/laboratory/list') }"><a href="#laboratory/list">Laboratórios</a></li>
                                <li data-ng-class="{ active: isActive('/ticket/list') }"><a href="#ticket/list">Chamados</a></li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="ADMINISTRATOR">
                            <ul class="nav navbar-nav navbar-left">
                                <li data-ng-class="{ active: isActive('/laboratory/list') }"><a href="#laboratory/list">Laboratórios</a></li>
                                <li data-ng-class="{ active: isActive('/ticket/list') }"><a href="#ticket/list">Chamados</a></li>
                                <li data-ng-class="{ active: isActive('/user/list') }"><a href="#user/list">Usuários</a></li>
                                <li data-ng-class="{ active: isActive('/trouble/list') }"><a href="#trouble/list">Problemas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-ng-switch="!!session.session">
                    <div data-ng-switch-when="true">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="glyphicon glyphicon-user"></div> {{ session.session.user.name }} <div class="caret"></div>
                                        <div>
                                            <label class="control-label">Tipo: </label>
                                            <select data-ng-model="session.session.user.type" disabled>
                                                <option value="ADMINISTRATOR">Administrador</option>
                                                <option value="TECHNICIAN">Técnico</option>
                                                <option value="STUDENT">Studente</option>
                                            </select>
                                        </div>
                                    </div>
                                    <ul data-ng-controller="LogoutPresenter" class="dropdown-menu">
                                        <li><a href="#auth/logout" >Sair</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div data-ng-switch-default="">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div>
                                    <a href="#auth/login" class="glyphicon glyphicon-log-in"> Entrar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
