<div data-ng-controller="HeaderController">
    <div class="navbar navbar-default navbar-fixed-top" data-role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li data-ng-class="{ active: isActive('/home') }"><a href="#home">Home</a></li>
                    <li data-ng-class="{ active: isActive('/laboratory/list') }"><a href="#laboratory/list">Laboratórios</a></li>
                    <li data-ng-class="{ active: isActive('/ticket/list') }"><a href="#ticket/list">Chamados</a></li>
                    <li data-ng-class="{ active: isActive('/user/list') }"><a href="#user/list">Usuários</a></li>
                    <li data-ng-class="{ active: isActive('/trouble/list') }"><a href="#trouble/list">Problemas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div data-ng-switch="!!session.user">
                            <div data-ng-switch-when="true">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="glyphicon glyphicon-user"></div> {{ session.user.username }} <div class="caret"></div>
                                    </div>
                                    <ul data-ng-controller="AccountController" class="dropdown-menu">
                                        <li><a href="#" data-confirm-directive="Quer realmente sair?" data-confirmed-onclick="logout()">Sair</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="login_header_box" data-ng-switch-default="">
                                <div><a href="#account/login" class="glyphicon glyphicon-log-in"> Entrar</a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
