<div class="container-fluid">
    <h3>Computadores do laboratório {{ laboratory_name }}:<a href="#/computer/register"><img data-ng-src="img/icon/plus32.png" class="img-responsive"/></a></h3>
    <hr/>
    <div class="row-fluid">
        <!--
            $scope.session = SessionService;
            $scope.laboratory_name = $routeParams.laboratory_name;
            $scope.command = listPositions;
            $scope.positions = [];
            //[CMP] bootstrap magic number 12
            $scope.num_columns = 6;
            $scope.col_size = 2;
            $scope.response = "";
        -->

        <!-- response message -->
        <div data-ng-hide="!response">{{ response }}</div>

        <!-- positions list-->
        <div data-ng-repeat="computerPos in positions">
            <div class="col-xs-{{ col_size }} col-sm-{{ col_size }} col-md-{{ col_size }} col-lg-{{ col_size }}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <img data-ng-src="{{ computerPos.computer | ImagePathForComputer }}" class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        {{ computerPos.computer.asset_code }}
                        <a href="#/ticket/open/{{ computerPos.computer.asset_code }}">
                            <img data-ng-src="img/icon/spanner32.png" class="img-responsive"/>
                        </a>
                    </div>
                </div>
            </div>
            <div data-ng-if="$index != 0">
                <div data-ng-if="($index +1) % num_columns == 0">
                    <div class="clearfix visible-lg  visible-md  visible-sm  visible-xs"></div>
                </div>
            </div>
        </div>
    </div>
</div>
