<div class="container-fluid">
    <h3>Abrir chamado:</h3>
    <hr/>
    <div class="row-fluid">
        <!--
            $scope.session = SessionService;
            $scope.registration = "";
            $scope.asset_code = $routeParams.computer_asset_code;
            $scope.trouble = "";
            $scope.sub_trouble = "";
            $scope.description = "";
            $scope.command = openTicket;
            $scope.response = "";
        -->

        <!-- input form -->
        <form>
            <div>
                <label class="control-label">Matrícula (temporário, será por sessão): </label>
                <input type="text" data-ng-model="registration" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Patrimonio: </label>
                <input type="text" disabled data-ng-model="asset_code" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Problema: </label>
                <input type="text" data-ng-model="trouble" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Sub problema: </label>
                <input type="text" data-ng-model="sub_trouble" data-ngRequired="true"/>
            </div>
            <div>
                <label class="control-label">Descrição: </label>
                <input type="text" data-ng-model="description"/>
            </div>
            <button class="btn btn-primary" data-ng-click="command()">Abrir</button>
        </form>

        <!-- response message -->
        <div data-ng-hide="!response">{{ response }}</div>
    </div>
</div>
