<div data-ng-controller="RegisterTroublePresenter">
    <!--
        $scope.session = SessionService;
        $scope.name = "";
        $scope.command = registerTrouble;
        $scope.response = "";
    -->

    <div class="container-fluid">
        <h3>Registrar problema:</h3>
        <hr/>
        <div class="row-fluid">
            <!-- input form -->
            <form>
                <div>
                    <label class="control-label">Nome: </label>
                    <input type="text" data-ng-model="name" data-ngRequired="true"/>
                </div>
                <button class="btn btn-primary" data-ng-click="command()">Registrar</button>
            </form>

            <!-- response message -->
            <div data-ng-hide="!response">{{ response }}</div>
        </div>
    </div>
</div>
